@import "tailwindcss";

body{
  background: #F3E5D4;
}
@font-face {
  font-family: 'My Custom Font';
  src: url('./assets/fonts/Mosherif.ttf') format('truetype');
}

.headline {
  font-family: 'My Custom Font';
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.subheadline {
  font-family: 'My Custom Font';
  font-size: 1.5rem;
  font-weight: normal;
  color: #666;
}

.buttonText{
  font-family: 'My Custom Font';
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

.paragraph {
  font-family: 'My Custom Font';
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

.miniText {
  font-family: 'My Custom Font';
  font-size: 0.875rem;
  font-weight: normal;
  color: #666;
}