@import "tailwindcss";

body{
  background: #F3E5D4;
}
@font-face {
  font-family: 'My Custom Font';
  src: url('./assets/fonts/Mosherif.ttf') format('truetype');
}

.headline {
  font-family: 'My Custom Font';
  font-size: 18rem;
  font-weight: normal;
  color: #973F0B;
}

.subheadline {
  font-family: 'My Custom Font';
  font-size: 9rem;
  font-weight: normal;
  color: #000000;
}

.buttonText{
  font-family: 'My Custom Font';
  font-size: 6rem;
  font-weight: normal;
  color: #ffff;
}

.paragraph {
  font-family: 'My Custom Font';
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

.miniText {
  font-family: 'My Custom Font';
  font-size: 0.875rem;
  font-weight: normal;
  color: #666;
}